body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #222;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
}

main {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}


nav {
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 10px 20px; 
    text-align: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none; 
    font-size: 16px; 
    color: #333; 
    font-weight: bold; 
}

nav ul li a:hover {
    color: #007BFF; 
}


footer {
    text-align: center; 
    width: 100%; 
    padding: 40px 0; 
    background-color: #f8f8f8; 
    color: #666; 
    font-size: 17px; 
}