body {
    font-family: 'Georgia', serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #800020;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.2em;
    letter-spacing: 1.5px;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #b00e23;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f9f9f9;
    color: #800020;
    border-radius: 4px;
}


.content {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    align-content: center;
}

h2, p, h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;  
    text-align: center;  
}


ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

ul li::before {
    content: "•";
    color: #b00e23;
    font-size: 1.2em;
    margin-right: 10px;
}


img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}


form {
    margin-top: 20px;
}

form label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
}

form input[type="submit"] {
    background-color: #b00e23;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

form input[type="submit"]:hover {
    background-color: #800020;
    transform: translateY(-3px);
}

form input[type="submit"]:active {
    transform: translateY(1px);
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #800020;
    color: white;
    margin-top: 40px;
    font-size: 0.9em;
}

