<!-- show_all/templates/quotes/show_all.html -->
{% extends 'quotes/base.html' %}

{% block content %}
    <div class="grid-container">

        <main>    

            <h2>Welcome !</h2>
            <p>Welcome to the Quote of the Day application!</p><br>

            <p>This application displays quotes by and images 
                of <a href="https://en.wikipedia.org/wiki/LeBron_James">Lebron James</a></p><br>

            <p>LeBron James is an American professional basketball player widely regarded as one of the greatest 
                basketball players of all time. Born on December 30, 1984, in Akron, Ohio, LeBron gained fame as a high 
                school phenom and was the first overall pick in the 2003 NBA Draft by the Cleveland Cavaliers. Over his 
                illustrious career, he has played for the Miami Heat and the Los Angeles Lakers, in addition to the Cavaliers.</p><br>

            <p>Lebron has 4 NBA <a href="https://www.nba.com/lebron-james-past-finals-trips-history">rings</a>.</p><br>
        </main>    

    </div>
{% endblock %}